h1 {
    color: rgb(54, 9, 9);
}
h3 {
    color: brown;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
html {
    background-color: rgb(233, 216, 191);
}
.List ul {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: auto;
    padding-right: auto;
    border: 2px  solid rgb(138, 158, 218) ;
}
.Steps {
    color:rgb(8, 13, 87);
    
    position: relative;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: auto;
    border: 2px  solid rgb(138, 158, 218) ;
}
 h4 {
    color: rgb(143, 7, 7);
 }
 .container img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    border: 3px rgb(54, 9, 9);
}

.try {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: auto;
    border: 2px  solid rgb(138, 158, 218) ;
}
.Align {
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 216, 191);
    font-size: 25px;
    font-family: monospace;
}


