h1 {
    color: rgb(54, 9, 9);
}
h3 {
    color: brown;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
html {
    background-color: rgb(233, 216, 191);
}
ul {
    width: fit-content;
    height: 165px;
    align-content: space-evenly;
}
.Steps {
    color:rgb(8, 13, 87);
    text-align: center;
    position: relative;
    display: block;
}
 h4 {
    color: rgb(143, 7, 7);
 }
 .container img {
    display: block; /* Ensure the image behaves like a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}
